<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        Фио: Фамилия<input type="text" name="first_name">Имя<input type="text" name="last_name">Отчество<input type="text" name="middle_name"><br>
        Контактный телефон: <input type="text" name="phone_number"><br>
        email: <input type="email" name="email"><br>
        Номинации:
        <select name="nomination">
            <option value="Старый город">Опция 1</option>
            <option value="Многоэтажки">Опция 2</option>
        </select><br>
        адрес <input type="text" name="adress"><br>
        доп инфа <textarea name="additional_information" cols="30" rows="10"></textarea><br>
        <input type="submit">
    </form>
</body>
</html>